<header> <!-- <a href="/page/feeds">Feeds</a>-->
		<nav>
			<ul>
				<!--<li><a href="/rwx">RWX</a></li><li><a href="/textures">Textures</a></li>-->
        <li><a href="/">Home</a></li><%- directories %>
			</ul>
		</nav>
	</header>
<main>
